<section class="container p-2">
    <h2> List of Competitions: </h2>

    <!-- Show a task in each row of a table -->
    <table class="table text-nowrap">
        <tr>
            <th> Name </th>
        </tr>
        {{#each competitions}}
        <tr> 
            <td>{{this.name}}</td>
            <td>
                <!---<a href="/site/groupForm?competition=CL">Create Group</a>--->
            <a href="/site/groupForm?competition={{this.code}}">Create Group</a>
            </td>
        </tr>
        {{/each}}
    </table>
</section>