<section class="container p-2 text-danger">
    <h2> Error page </h2>
    <p> Message: {{error}} </p>
    <p> Code: {{code}} </p>
    <br>
    <a href="/" class="btn btn-info"> Go back to home view </a>
</section>