<footer class="container p-3 bg-primary text-light text-center">
    <p>
        <a href="mailto:A52673@alunos.isel.pt" target="_self" title="Email me">Contact</a>
    </p>
    <p> 
        <a href="/site/groups" class="btn btn-light"> Go back groups view </a>
    </p>
</footer>