<section class="container p-2">
<h2> Your Groups: </h2>

    <!-- Show a group in each row of a table -->
    <table class="table text-nowrap">
        <tr>
            <th>Name</th>
        </tr>
        {{#each groups}}
        <tr> 
            <td width="5%">
                <a href="/site/groups/{{this.id}}" class="btn btn-warning"> {{this.name}} </a>
            </td>
            <td width="5%" style="text-align: right;">
                 <button id="btn-delete-group"
                    class="btn btn-danger" 
                    type="button" 
                    onclick="handleClickDelete('{{this.id}}', '{{this.name}}')"
                    > delete 
                </button>
            </td>
        </tr>
        {{/each}}
    </table>

    <br>
    <a href="/site/competitions" class="btn btn-primary"> Create a group</a>
</section>