<section>
    <br>
    <!--- Menu --->
    <div style="background-color: gray;" align="center">
        <h1> OH HELLO !</h1>

        <a href="/site/register" style="color: white;"> Register </a>
        <br>
        <a href="/site/login" style="color: white;"> Login </a>
    </div>
</section>